head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

box{
     font-size: 14px;
     background-image: url(./Sprite-0001.png);
     width: 400px;
     height: 100px;
     background-position: -5000px;
     position: sticky;
     top: 0;
     left: 20px;
     height: 70px;
}
mb1{
     margin-left: 15px;  
}
mb2{
     margin-left: 17px;
}
mb3{
     margin-left: 27px;
}
mb4{
     margin-left: 120px;
}
body{

     background-image: url('./bgin.png');
     background-size: 100% auto;
     background-position: top center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     min-height: 100vh;
     
     display: flex;
     flex-direction: column;
     align-items: center;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
u{
     background-image: url(./Sprite-0006.png); 
     background-size: 200px;
     width: 200px;
     height: 200px;
    
}
p{
     background-color: rgba(253, 171, 246, 0.8);
     display: grid;
     text-align: center;
     width: 400px;
     height: 689px;
     color: black;
     border-style:dashed;
     border-radius: 15px 15px;
     
}
b{
     background-color: rgba(253, 171, 246, 0.5);
     border-radius: 15px 15px;
     margin: -25px;
     font-size: 70px;
     font-family: "Times New Roman", serif;
     font-style: oblique; 
}
f{
    text-align: center; 
}
photo{
    
     background-image: url(./4199de6074b57e3b695380610ac1d291.gif);
     font-family: "Times New Roman", serif;
     text-align: center;
     width: 400px;
     height: 400px;
     object-fit: cover;
     border-radius: 15px 15px;
}
y{
     display: flex;
     margin-top: 10000px;
     text-align: center;

     
     justify-content: left;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #eb70c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #da50da;
    transform: scale(1.05);
}

.start-date-display{
     display: none;
}

timer{
     background-color: rgba(253, 171, 246, 0.5);
     display: grid;
     text-align: center;
     width: 300px;
     height: 50px;
     color: black;
     border-style:dashed;
     border-radius: 15px 15px;
}
