head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, #fff1eb 0%, pink 90%);
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    justify-content: center;
    font-family: "Times New Roman", serif;
    font-size: 20px;
}
Box{
    font-size: 14px;
    background-image: url(./menu.png);
    width: 400px;
    height: 100px;
    background-position: -100px;
    position: sticky;
    top: 0;
    left: 20px;
    height: 70px;
}
mb1{
   margin-left: 15px;  
}
mb2{
    margin-left: 17px;
}
mb3{
     margin-left: 30px;
}
mb4{
     margin-left: 43px;
}
v{
    background-color: rgb(236, 142, 197);
    border: 10px solid rgb(228, 63, 178);
    border-radius: 60% 20% / 10% 50%;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
r{
    background-image: url('./bgsup.png');
    background-size: cover;
    background-position: 0px -120px;
    display: grid;
    text-align: center;
    width: 300px;
    height: 170px;
    color: black;
    border-color: black;
    border-style:ridge;
    border-radius: 15px 15px;
}
button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #eb70c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #da50da;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.98);
}

y{
    display: flex;
    margin-top: 10px;
    text-align: center;

    justify-content: left;
    font-family: "Times New Roman", serif;
    font-size: 20px;
}
 
.box-1 {
    display: flex;
    
    padding: 12px 24px;
    font-size: 18px;
    background-color: #eb70c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;

    transition: all 0.2s ease 0s;
}

.translated-on-hover:hover .box-1 {
    translate: 75vw;
}

y{
    margin-top: 1000px;
    background-image: url('./clown.png');
    background-repeat: no-repeat; 
    
    background-position: center; 
    background-size: 100px 50px;
    display: grid;
    text-align: center;
    width: 200px;
    height: 65px;
}
r{
    text-shadow: 
    -1px -1px 0 rgb(0, 0, 0),
    1px -1px 0 rgb(0, 0, 0),  
    -1px 1px 0 rgb(0, 0, 0), 
    1px 1px 0 rgb(0, 0, 0);
}

