head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(to top, #fff1eb 0%, pink 90%);
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-position: center; 

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


     justify-content: center;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
Box{
    width: 400px;
    height: 100px;
    font-size: 14px;
    background-image: url(./Sprite-0001.png);
    background-position: -5000px;
    position: sticky;
    top: 0;
    left: 20px;
    height: 50px;
}
mb1{
   margin-left: 15px;  
}
mb2{
    margin-left: 17px;
}
mb3{
    margin-left: 27px;
}
mb4{
    margin-left: 120px;
}
v{
    background-color: rgb(236, 142, 197);
    border: 10px solid rgb(228, 63, 178);
    border-radius: 60% 20% / 10% 50%;
    width: 400px;
    height: 400px;
}
r{
    background-color: rgb(236, 142, 197);
    border: 10px solid rgb(228, 63, 178);
    border-radius: 50%;
    width: 100px;
    height: 100px; 
}
e{
    text-align: center;
}

.square {
    display: flex;
    width: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color:rgb(229, 130, 200);
    transition-property: 6s;
    color: white;
    border-style: double;
    border-radius: 0px;
    margin: -20px 0%;
    margin-left: 27px;
    color: aliceblue; 
}

.button {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #eb70c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #da50da;
    transform: scale(1.05);
}

.button:active {
    transform: scale(0.98);
}

.button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    transform: none;
}

.buttonnull {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #eb70c6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonnull:hover {
    background-color: #da50da;
    transform: scale(1.05);
}

@keyframes rotateOnce {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}