head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     background: linear-gradient(to top, #fff1eb 0%, pink 90%);
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-position: center; 

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


     justify-content: center;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
Box{
     font-size: 14px;
    background-image: url(./menu.png);
    width: 400px;
    height: 100px;
    background-position: -100px;
    position: sticky;
    top: 0;
    left: 20px;
    height: 70px;
}
mb1{
   margin-left: 15px;  
}
mb2{
     margin-left: 17px;
}
mb3{
     margin-left: 30px;
}
mb4{
     margin-left: 43px;
}
o{
     
     display: grid;
     text-align: center;
     width: 300px;
     height: 533px;
     color: black;
     border-style:dashed;
     border-radius: 15px 15px;

     justify-content: center;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
photo{
     background-image: url(./photo9.png);
     background-size: 300px;
     background-position: 0px -70px;
     font-family: "Times New Roman", serif;
     text-align: center;
     width: 300px;
     height: 300px;
     object-fit: cover;
     border-radius: 15px 15px;
}
n{
     background: url('./bgvosp.png');
     background-size: cover;
     background-position: -50px 0px;
     display: grid;
     text-align: center;
     width: 300px;
     height: 400px;
     color: rgb(0, 0, 0);
     text-shadow: 
    -1px -1px 0 rgb(253, 171, 246),
    1px -1px 0 rgb(253, 171, 246),  
    -1px 1px 0 rgb(253, 171, 246), 
    1px 1px 0 rgb(253, 171, 246);
     border-style:dashed;
     border-radius: 15px 15px;
}
d{
     
     border-radius: 15px 15px;
     font-size: 25px;
     font-family: "Times New Roman", serif;
     font-style: oblique; 
}
y{
     margin-top: 500px;
}