head{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
     padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

     padding-top: constant(safe-area-inset-top);
     padding-right: constant(safe-area-inset-right);
     padding-bottom: constant(safe-area-inset-bottom);
     padding-left: constant(safe-area-inset-left);

     background: linear-gradient(to top, #fff1eb 0%, pink 90%);
     background-size: cover;
     background-repeat: no-repeat; 
     background-attachment: fixed; 
     background-position: center; 

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


     justify-content: center;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
Box{
     width: 400px;
     height: 100px;
     font-size: 14px;
     background-image: url(./Sprite-0001.png);
     background-position: -5000px;
     position: sticky;
     top: 0;
     left: 20px;
     height: 50px;
}
mb1{
   margin-left: 15px;  
}
mb2{
     margin-left: 17px;
}
mb3{
     margin-left: 27px;
}
mb4{
     margin-left: 34px;
}
o{
     display: grid;
     text-align: center;
     width: 300px;
     height: 490px;
     color: black;
     border-style:dashed;
     border-radius: 15px 15px;

     justify-content: center;
     font-family: "Times New Roman", serif;
     font-size: 20px;
}
photo{
     background-image: url(./photo9.png);
     background-size: 300px;
     background-position: 0px -70px;
     font-family: "Times New Roman", serif;
     text-align: center;
     width: 300px;
     height: 300px;
     object-fit: cover;
     border-radius: 15px 15px;
}